<!-- Philanthropy -->
<div id="overall-help" class="help-text" style="display: block;">
	<p>Click on each bar (i.e. Intent, Themes etc.) and put in the relevant information. Each bar will be unlocked when the previous bar has been completed. </p>
	<p>You can view your progress in a document at any time by clocking the 'View Document' link.</p>
</div>

<!-- Intent -->
<div id="intent-help" class="help-text">
	<h4>Intent</h4>
	<p>On this screen the user is asked to define the intent of the philanthropic and fundraising activity. The intent is broken down into three elements (1) socio-economic priority, (2) impact and timeframe and artistic/cultural positioning.</p> 
	<p>Socio-economic priority: E.g. "We want to raise aspirations and increase employment."</p>
	<p>Impact and timeframe: E.g. "Reducing inequality to UK average levels and doubling the size of the creative sector by the end of the decade".</p>
	<p>Artistic/Cultural Positioning: E.g. "By turning our joint and diverse heritage into an innovation engine for the local economy".</p>
</div>
<div id="socioeconomic-help" class="help-text">
	<p>Socio-economic priority: E.g. "We want to raise aspirations and increase employment."</p>
</div>
<div id="impact-help" class="help-text">
	<p>Impact and timeframe: E.g. "Reducing inequality to UK average levels and doubling the size of the creative sector by the end of the decade".</p>
</div>
<div id="artistic-help" class="help-text">
	<p>Artistic/Cultural Positioning: E.g. "By turning our joint and diverse heritage into an innovation engine for the local economy".</p>
</div>

<!-- Themes -->
<div id="themes-help" class="help-text">
	<h4>Themes</h4>
	<p>On this screen the user is asked to identify the priority themes for Philanthropy and Fundraising.  The themes can be one of three types: (1) Target Market, (2) Core Service and (3) Infrastructure Support.  These options are shown by the dropdown arrow to the right of the box.</p>
	<p>E.g. (For the 'Raise Aspirations' intent) </p>
	<p>Target Market: "Working class boys 8-13 years of ethnicity groups"</p>
	<p>Core Services: "Schools outreach sessions (joint and shared heritage), school visits."</p>
	<p>Infrastructure support: "Joint and shared heritage materials development, project management, onsite classrooms."</p>
	<p>You can add additional themes by clicking 'Add New Priority Theme'.</p>
</div>
<div id="description-help" class="help-text">
	<p>E.g. (For the 'Raise Aspirations' intent) </p>
	<p>Target Market: "Working class boys 8-13 years of ethnicity groups"</p>
	<p>Core Services: "Schools outreach sessions (joint and shared heritage), school visits."</p>
	<p>Infrastructure support: "Joint and shared heritage materials development, project management, onsite classrooms."</p>
	<p>You can add additional themes by clicking 'Add New Priority Theme'.</p>
</div>

<!-- Funding -->
<div id="funding-help" class="help-text">
	<h4>Funding</h4>
	<p>On this screen you can select the funding stream(s) that will likely fund the theme (target market, core services, infrastructure support), and enter how this stream could address the theme.</p>
	<p>E.g Target Market Theme, Trusts and Foundations selected: "Funding is available from the Children's Foundation which seek to promote aspirations of ethnic groups."</p>
	<p>Core Services Theme, Public Grants selected: "Arts Council fund learning initiatives for schools."</p>
	<p>Infrastructure Support Theme, Major Donor selected: "Doners recently expressed an interest in improving heritage materials."</p>
</div>

<!-- Constraints -->
<div id="constraints-help" class="help-text">
	<h4>Constraints</h4>
	<p>On this screen you can add whatever constraints might be relevant to each of the themes you selected on the Theme Screen. Each theme will likely have one or more constraints that you can describe in the text boxes. E.g.:</p>
	<p>Target Market:</p>
	<ul>
		<li>Operational Constraint, 'Yes' selected "Lack of staff resources."</li>
		<li>Financial Constraint 'No' selected "Funding likely to be secured."</li>
		<li>Political Constraint 'Yes' selected "Target group is not current council priority."</li>
	</ul>
	<p>Core Services:</p>
	<ul>
		<li>Operational Constraint, 'Yes' selected "Lack of staff resources."</li>
		<li>Financial Constraint 'No' selected "Funding likely to be secured."</li>
		<li>Political Constraint 'No' selected "Counsellors want more heritage in schools."</li>
	</ul>
	<p>Infrastructure Support:</p>
	<ul>
		<li>Operational Constraint, 'Yes' selected "Lack of staff resources."</li>
		<li>Financial Constraint 'Yes' selected "materials development expensive."</li>
		<li>Political Constraint 'Yes' selected "Counsellors prefer to support more high profile projects."</li>
	</ul>
</div>

<!-- Action -->
<div id="action-help" class="help-text">
	<h4>Action</h4>
	<p>On this screen you can begin to pull the project together and set out a pathway to get started. I.e.:</p> 
	<p><strong>Vision:</strong> what is the key sales line to make people enthused with doing this?</p> 
	<p><strong>1st Steps:</strong> what tasks will you do first to start it off?</p> 
	<p><strong>Discomfort:</strong> how do you make whoever is comfortable with not doing it uncomfortable with the status quo?</p> 
</div>
