<!-- Assets  -->
<div id="overall-help" class="help-text" style="display: block;">
	<p>Click on each bar (i.e. Intent, Themes etc.) and put in the relevant information. Each bar will be unlocked when the previous bar has been completed. </p>
	<p>You can view your progress in a document at any time by clocking the 'View Document' link.</p>
</div>

<!-- Intent -->
<div id="intent-help" class="help-text">
	<h4>Intent</h4>
	<p>On this screen the user is asked to define the intent of the proposed project for which your assets and collections can be utilised. The intent is broken down into three elements (1) socio-economic priority, (2) impact and timeframe and artistic/cultural positioning.</p>
	<p>Socio-economic priority: E.g. "We want to raise aspirations and increase employment."</p>
	<p>Impact and timeframe: E.g. "Reducing inequality to UK average levels and doubling the size of the creative sector by the end of the decade."</p>
	<p>Artistic/Cultural Positioning: E.g. "By turning our joint and diverse heritage into an innovation engine for the local economy."</p>
</div>
<div id="socioeconomic-help" class="help-text">
	<p>Socio-economic priority: E.g. "We want to raise aspirations and increase employment."</p>
</div>
<div id="impact-help" class="help-text">
	<p>Impact and timeframe: E.g. "Reducing inequality to UK average levels and doubling the size of the creative sector by the end of the decade".</p>
</div>
<div id="artistic-help" class="help-text">
	<p>Artistic/Cultural Positioning: E.g. "By turning our joint and diverse heritage into an innovation engine for the local economy".</p>
</div>

<!-- Customers -->
<div id="customers-help" class="help-text">
	<h4>Customers</h4>
	<p>On this page you can define various customer groups that you currently attract, or hope to attract with your project(s). You can describe additional customer groups by clicking 'Add new customer group'.</p>
	<p>E.g. "Disadvantaged aged 25 – 40. Low income. Live in areas of little cultural engagement. Reliant on public transport."</p>
</div>

<!-- Collections -->
<div id="collections-help" class="help-text">
	<h4>Collections</h4>
	<p>Here you can describe what collections you might use to attract your target customers.</p>
	<p>E.g. "Collected graffiti artwork, interpreted to make relevant to current political and social issues/how the artists found means to express their perspectives."</p>
</div>

<!-- Constraints -->
<div id="constraints-help" class="help-text">
	<h4>Constraints</h4>
	<p>On this screen you can add whatever constraints may prohibit you from successfully attracting the customer groups you described. Each customer group will likely have one or more constraints that you can describe in the text boxes. E.g.:</p>
	<p>Collected Graffiti artwork:</p>
	<p>Operational Constraint, 'Yes' selected "Lack of staff resources."</p>
	<p>Financial Constraint 'No' selected "Funding likely to be secured."</p>
	<p>Political Constraint 'Yes' selected "Target group is not current council priority."</p>
</div>

<!-- Action -->
<div id="action-help" class="help-text">
	<h4>Action</h4>
	<p>On this screen you can begin to pull the project together and set out a pathway to get started. I.e: </p>
	<p><strong>Vision:</strong> what is the key sales line to make people enthused with doing this?</p>
	<p><strong>1st Steps:</strong> what tasks will you do first to start it off?</p>
	<p><strong>Discomfort:</strong> how do you make whoever is comfortable with not doing it uncomfortable with the status quo?</p>
</div>
