<!-- Philanthropy -->
<div id="overall-help" class="help-text" style="display: block;">
	<p>Click on each bar (i.e. Intent, Themes etc.) and put in the relevant information. Each bar will be unlocked when the previous bar has been completed. </p>
	<p>You can view your progress in a document at any time by clocking the 'View Document' link.</p>
</div>

<!-- Intent -->
<div id="intent-help" class="help-text">
	<h4>Intent</h4>
	<p>On this screen the user is asked to define the intent of the enterprise activity. The intent is broken down into three elements (1) socio-economic priority, (2) impact and timeframe and artistic/cultural positioning.</p>
	<p>Socio-economic priority: E.g. "We want to raise aspirations and increase employment."</p>
	<p>Impact and timeframe: E.g. "Reducing inequality to UK average levels and doubling the size of the creative sector by the end of the decade."</p>
	<p>Artistic/Cultural Positioning: E.g. "By turning our joint and diverse heritage into an innovation engine for the local economy"</p>
</div>
<div id="socioeconomic-help" class="help-text">
	<p>Socio-economic priority: E.g. "We want to raise aspirations and increase employment."</p>
</div>
<div id="impact-help" class="help-text">
	<p>Impact and timeframe: E.g. "Reducing inequality to UK average levels and doubling the size of the creative sector by the end of the decade".</p>
</div>
<div id="artistic-help" class="help-text">
	<p>Artistic/Cultural Positioning: E.g. "By turning our joint and diverse heritage into an innovation engine for the local economy".</p>
</div>

<!-- Opportunities -->
<div id="opportunities-help" class="help-text">
	<h4>Commercial</h4>
	<p>On this screen you can add what opportunities there may be for your enterprise activity E.g. Opportunity 1: "Sell Outreach sessions to schools."</p>
	<p>Opportunity 2: "Sell consultancy on how to deliver profitable outreach to other schools."</p>
	<p>Opportunity 3: "Loan developed heritage materials to other museums for their outreach." </p>
</div>

<!-- Resources -->
<div id="resources-help" class="help-text">
	<h4>Resources</h4>
	<p>On this screen you can add what resources you have, or will need, to begin your enterprise activity</p>
	<p>E.g. Assets:  "Utilise the developed heritage materials to create the loan packages."</p>
	<p>Staff: "Marketing team may be able to design sales prospectus for the package."</p>
	<p>Information: "A similar project failed at another museum because……."</p>
	<p>Support: "Counsellors want greater emphasis on heritage in classroom. A counsellor could be used for a public launch."</p>
</div>

<!-- Priorities -->
<div id="priorities-help" class="help-text">
	<h4>Priorities</h4>
	<p>On this page you can describe what the priorities are for your enterprise activity from three key angles; operational, financial and political.</p>
	<p>E.g. Operational: "Improve our profile amongst minority ethnic audiences."</p>
	<p>Financial: "Must deliver 20% profit above investment in the first year."</p>
	<p>Political: "Position this county as leading the way in tackling low aspirations in schools and enterprise in museums."</p>
</div>

<!-- Action -->
<div id="action-help" class="help-text">
	<h4>Action</h4>
	<p>On this screen you can begin to pull the project together and set out a pathway to get started. I.e.:</p> 
	<p><strong>Vision:</strong> what is the key sales line to make people enthused with doing this?</p>
	<p><strong>1st Steps:</strong> what tasks will you do first to start it off?</p>
	<p><strong>Discomfort:</strong> how do you make whoever is comfortable with not doing it uncomfortable with the status quo?</p>
</div>
