{% extends "layout.html" %}
{% block title %} Black Radley Toolkits {% endblock %}
{% block content %}
<p>In these pages there are four toolkits; their purpose of is to provide prompts to clarify thinking about what and who your service is for, as well as a project or projects you are (or intend on) initiating.</p>
<p>The questions are specifically designed to lead your project planning in enterprising and strategic ways.</p>
<p>By answering the questions in these toolkits, you will be able to better define:</p>
<ul>
	<li>What your project is for;</li>
	<li>Who it is for;</li>
	<li>What problems you may encounter, and;</li>
	<li>A starting position from which to proceed.</li>
</ul>
<p>The four toolkits can be used individually for numerous projects or collectively to define various perspectives of a single project.</p>
<p>The input you provide in these pages can be exported in to a word document to use as a reference point once your project is initiated.</p>
{% endblock %}